################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Testing.Xero.BankFeeds/v16/TestStore/0
/Testing.Xero.BankFeeds/bin/Debug/net5.0
/Testing.Xero.BankFeeds/obj

#Specflow
*feature.cs

/.vs/Testing.Xero.BankFeeds/v16


