<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
	<TestRunParameters>
		<Parameter name="baseUrl" value="https://login.xero.com/"/>
		<Parameter name="browser" value="Chrome"/>		
		<Parameter name="implicitWait" value="5"/>
		<Parameter name="isHeadless" value="false"/>
		<Parameter name="UserName" value="karyllhardyurma@gmail.com"/>
		<Parameter name="Password" value="Abcd1234!"/>
		<Parameter name="SecAns1" value="Mariz"/>
		<Parameter name="SecAns2" value="Paolo"/>
		<Parameter name="SecAns3" value="Cacal Street"/>
	</TestRunParameters>
</RunSettings>